*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: 100vh;
	background-color: #bbb;
	color: #000;
	font-size: 20px;
	line-height: 1.7;
	font-family: 'Montserrat', sans-serif;
}
.poem {
	text-align: center;
}
.poem h1 {
	font-size: 30px;
}

.poem h3 {
	font-style: italic;
}
.poem h5 {
	opacity: 0.5;
}
.poem p {
	margin: 30px 0;
}
